.navbar {
	margin-bottom: 0px;
}
/*
html {
    //-ms-text-size-adjust: 100%;
    //-webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}
*/
body {
    font-family : monospace ;
    font-size : 16px ;
    background-color : white ;
    color : #111 ;
    width : auto ;
    //width: 100%;
    //height: 100%;
    min-width : 600px ;
    min-height : 300px ;
    text-align: justify;
    letter-spacing: 0.015em;
    padding: 0;
    margin: 0;
    //text-indent: 10%;
    //padding-left : -2em ;
    //margin : 5% 10% ;
    //margin : auto ;
    //border : thin solid gray ;
    //border-radius : 5px ;
   // display : block ;
}
/*
#body{
    width: 100%;
    height: 100%;
}*/
/*
a:link    { color : #999 ; text-decoration : none ;      }
a:hover   { color : #999 ; text-decoration : underline ; }
a:visited { color : green ;                               }
*/
h1 a { font-size : 130% }
/*
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }
*/
blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

img {
    padding: 30px 0px 26px;
    //padding: 5px 0px 26px;
}

#content {
    padding-right: 50px; 
    line-height: 26px;
}

#content p {
    margin-bottom: 24px;
}

p.standfirst {
    font-size: 18px;
    font-weight: 700;
}

/*
.content {
    display: table-cell;
    border-left: 1px solid #d6d6d6;
    border-right: 1px dotted #D6D6D6;
    padding: 0 20px 1em 20px;
}

*/

/*
p {
    text-indent: 50px;
}
*/

#site-colophon {
    font-size: 12px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.article-header-date, .article-header-info {
	color: #999;
}

.social-links {
    padding-top: 10px;
	font-size: 18px;
    margin-left: 20px;
}

.category-links {
	font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    text-align: left;
}

.tag-1 {
	font-size: 14pt;
}
.tag-2 {
	font-size: 12pt;
}
.tag-3 {
	font-size: 10pt;
}
.tag-4 {
	font-size: 8pt;
}

.tag-cloud {
    line-height: 16px;
    margin-left: 20px;
    padding-top: 10px;
}

.article-tag-list {
    padding-top: 15px;
}

.home-top {
	margin-top: 20px;
}

#sidebar h4 {
    margin-top: 40px;
    margin-left: 20px;
}

#site-footer {
    background: #eee;
    border-top: 1px dotted #999;
    margin-top: 40px;
    padding-top: 10px;
}

.rfigure {
    float: left;
    max-width: 50%;
    display: block;
    padding: 1.2em;
    padding-top: 10px;
    //height: auto;
    //margin: auto;
}

/*
 * My preference for code blocks is no line wraps and horizontal scrolling.
 */
#content pre {
    border-left: 5px solid #999;
    overflow-x: auto;
    padding-left: 20px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}

dt {
  margin-top: 10px;
}
